html, body, #main {
    margin: 0;
}
body {
    background: #f0f0f0;
}
#topPanel {
    width: 100%;
    height: 64px;
    background: #0f769e;
    display: inline-flex;
    position: fixed;
    z-index: 1000;
}
#leftPanel {
    top: 64px;
    bottom: 0;
    left: 0;
    width: 240px;
    background: #044b61;
    position: fixed;
}
#leftPanel>.nestable-lists {
    padding: 5px 0;
    display: inline-block;
}
#centerPanel {
    bottom: 0;
    top:64px;
    left: 240px;
    right: 240px;
    position: absolute;
}

#deviceScreen {
    position: relative;
    width: 90%;
    height: 90%;
    margin: 2.5% auto;
	-webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
#deviceScreen.web {
    width: 90%;
    height: 90%;
}
#deviceScreen.mobile {
    width: 360px;
    height: 568px;
}
#deviceScreen.iphoneX {
    width: 360px;
    height: 640px;
}
#deviceScreen.tablet {
    width: 576px;
    height: 768px;
}
#deviceScreen.ipad {
    width: 768px;
    height: 1024px;
}
.deviceSelect {
    margin: 5px auto;
    height: 54px;
    width: auto;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}
.deviceIcon {
    height: 100%;
    width: 30px;
    display: inline-block;
}
.deviceIcon.selected {
    background-color: rgba(255,255,255,0.2)!important;
}
.deviceIcon.web {
    width: 68px;
    background: url(../img/icons.png) -37px 5px no-repeat / 590px;
}
.deviceIcon.mobile {
    width: 34px;
    background: url(../img/icons.png) -163px 4px no-repeat / 590px;
}
.deviceIcon.iphoneX {
    width: 34px;
    background: url(../img/icons.png) 5px 4px no-repeat / 590px;
}
.deviceIcon.tablet {
    width: 40px;
    background: url(../img/icons.png) -112px 4px no-repeat / 590px;
}
.deviceIcon.ipad {
    width: 44px;
    background: url(../img/icons.png) -202px 4px no-repeat / 590px;
}
#rightPanel {
    top: 64px;
    right: 0;
    bottom: 0;
    width: 240px;
    background: #044b61;
    position: fixed;
}
.item-hovered {
    outline:1px dashed green!important;
}
.item-selected {
    outline:1px solid green!important;
}
#leftPanel > * { cursor: move; }
.hidden {display: none;}
.overflow{overflow:hidden;}
#deviceShadow {
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    box-shadow: 0 3px 8px rgba(60,60,60,0.5);
}
#dropArea {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: relative;
    background: white;
    overflow: auto;
}
#dropArea * {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.dragItems {
    display: inline-block;
    padding: 5px;
}
.dragItems .dragItem {
    background: white;
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 20px;
    cursor: grab;
}
.dragItems .dropArea {
    background: lightslategray;
}
/*defaults*/
.dropArea {
    display: inline-block;
    width: 100%;
    background: #044b612f;
}
.dropArea:empty {
    height: 100px;
}
.dragItem.relative {
    background-color: rgb(135, 207, 18);
}
.dragItems .relative:empty {
    background-image: url('../img/relative.png');
    background-size: 60px;
}
.dragItem.absolute {
    background-color: rgb(207, 125, 18);
}
.dragItems .absolute:empty {
    background-image: url('../img/absolute.png');
    background-size: 60px;
}
.dragItem.fixed {
    background-color: rgb(18, 207, 191);
}
.dragItems .fixed:empty {
    background-image: url('../img/fixed.png');
    background-size: 60px;
}
.dragItems .text {
    overflow: hidden;
}
.dragItems img {
    max-width: 100%;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

.dragItems .grid1, .dragItems .grid2 {
    height: 100px;
    overflow: hidden;
}
#dropArea .grid1 {
    height: 100px;
}

#dropArea .grid1 {
    width: 100%;
    display: inline-grid;
    grid-gap: 2px;
    grid-template-columns: auto auto;
    /* grid-template-rows: 80px 200px; */
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-row-gap: 50px;
    grid-column-gap: 50px; */
}
#dropArea .grid1 div {
    border: 1px solid lightblue;
}

#dropArea .grid2 {
    width: 100%;
    display: grid;
    grid-gap: 2px;
    /* justify-content: space-evenly;
    justify-content: space-between;
    justify-content: center;
    justify-content: start;
    justify-content: end;
    align-content: center;
    align-content: space-evenly; */
}
#dropArea .grid2 div {
    border: 1px solid lightcyan;
}

/*defaults end*/
#selectPanel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#selectArea {
    border: 1px dotted #000;
    position: absolute;
    z-index: 10000000;
}
.ui-state-hover {
    border: 1px dashed black!important;
}
.dragging {
    z-index: 10000;
    opacity: 0.3;
}

.dd3-item.selected > .dd3-handle {
    background: green;
}

.item {
    background: white;
    border: 1px solid transparent;
    position: relative;
}
#rightPanel .dragItem {
    margin: 5px;
    border-radius: 2px;
    width: 60px;
    height: 60px;
    float: left;
}

.ui-sortable-placeholder {
	border: 2px dashed #aaa;
	height: 45px;
	width: 100%;
	background: #ccc;
}

#item-settings {
    background: lightgray;
    position: absolute;
    top: 0;
    left: 100%;
    width:100%;
    bottom: 0;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}
#item-settings.show {
    left: 0%;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
}
.setting {
    display: block;
    margin: 8px;
}
.setting span {
    font-size: 12px;
}
.text-input {
    width: 100px;
    margin: 0px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid white;
    float: right;
}

#pdfimg {
    padding: 10px;
    list-style-type: none;
}
#pdfimg li img {
    max-width: 100%;
}

@media (max-width: 1000px) {
    .column.side, .column.middle {
        overflow: scroll;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}